.careers {
  margin: 50px 100px;
}

.careersContainer {
  display: flex;
  flex: 1;
}

.careersContainerLeft,
.careersContainerRight {
  flex: 0.5;
}

.careersContainerLeft > h4 {
  margin-bottom: 20px;
  text-align: justify;
}
