.home {
  min-height: 100vh;
  width: 100%;
}

.GotoTop {
  background-color: rgb(226, 92, 92);
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.GotoTop > .MuiSvgIcon-root {
  color: black !important;
  font-size: 50px !important;
}

.home__banner {
  height: 500px;
  width: 70vw;
  margin: 0 15vw;
  object-fit: contain;
  position: relative;
}

.home__banner > h2 {
  color: rgb(226, 92, 92);
  position: absolute;
  top: 60%;
  left: 31%;
  text-shadow: 2px 1px white;
  font-size: 45px;
  font-weight: bold;
}

.home__counter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: 0px 12%;
  padding: 5px 0;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  margin-top: 20px;
  margin-bottom: 100px;
}

.home__counterItem {
  flex: 0.33;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.home__counterItem > h3 {
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0px;
  color: #333;
}

.home__counter {
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  color: rgb(226, 92, 92);
}

.home__contentContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  margin-bottom: 50px;
}

.home__contentLeftContainer {
  flex: 0.4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 50px;
  margin-top: -30px;
}

.home__contentLeftContainer > h1 {
  font-size: 40px;
  line-height: 53px;
  color: rgb(226, 92, 92);
  text-shadow: 2px 1px #5555;
}

.home__contentLeftContainer > p {
  font-size: 17px;
  font-weight: 500;
}

.home__contentRightContainer {
  flex: 0.4;
  height: 300px;
  padding: 30px;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.home__topperList {
  margin: 100px 13%;
  margin-bottom: 150px;
}

.home__topperList > h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(226, 92, 92);
  text-shadow: 2px 1px #5555;
}

.home__topperImages {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  
}

.home__topperContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right:20px;
  margin-top: 20px;
}

.home__topperContent > h5 {
  margin: 0;
  margin-top: 5px;
  font-size: 15px;
  font-weight: 500;
  color: #111;
}

.home__topperContent > h6 {
  margin: 0;
  font-size: 14px;
  color: #222;
}

@media only screen and (max-width: 768px){
  .home__counter {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    flex: 1;
  margin: 0px 12%;
  padding: 5px 0;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  margin-top: 20px;
  margin-bottom: 100px;
  }

  .home__banner {
    margin:20px 0;
    width:100vw;
    display: flex;
    align-items:center;
    justify-content:center;
  }

  .home__banner > h2 {
    color: rgb(226, 92, 92);
    position: absolute;
    left:9%;
    text-shadow: 2px 1px white;
    font-size: 45px;
    font-weight: bold;
  }

  .home__contentContainer {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
  }

  .home__contentRightContainer {
    width:100vw;
    height:200px;

    flex:none
  }

  .home__topperList {
    margin:50px 10px;
  }
}
