.tabComponent__container {
  display: flex;
  align-items: center;
  margin: 50px;
  flex: 1;
}

.tabComponent__left,
.tabComponent__right {
  flex: 0.5;
  font-family: "Karla", sans-serif;
}

.tabComponent__right > h5 {
  font-size: 17px;
  margin-bottom: 20px;
  text-align: justify;
}
